<!-- Details div -->

<br><br><br><br>
<!-- <div class="container-fluid" style="background: url({{background}});"> -->
  <div class="container-fluid text-light p-5" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.308)), url({{background}}) no-repeat center;">
  
    <div class="row" 
    style="background:  rgba(0, 0, 0, 0.5) ;">
        <!-- Movie cover -->
        <!-- <span class="rating d-flex justify-content-end">Rating:  <i class=" checked fas fa-star"></i> {{movie_rating}}</span> -->
      <div class="p-0 m-0 col-md" style="max-width: 20rem;">
        <img  src="{{poster}}" class="img-fluid" alt="">
      </div>
        

      <!-- Movie details -->
      <div class="movie-details ms-5 col-md">
        <h1 class=" display-4 text-start text-light">{{movie_name}}</h1>
        <p class="details"><strong><i>{{movie_tag}}</i></strong><br><br>{{movie_description}} </p>
      
        <span ><p class="run-time">Run Time: {{movie_runtime}} Minutes</p></span>
        <span ><p class="release-date">Release Date: {{movie_release_date}}</span>
      </div>

    </div>

  </div> 
<br>
