
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-5 justify-content-start">
        <div class="col ">
            <app-movies-list-items></app-movies-list-items>
        </div>
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>

        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>

        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>

        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        <div class="col">
            <app-movies-list-items></app-movies-list-items>
        </div>
        
        
    
    </div>
    <div class="showMore text-center">
        <button href="#" class="btn btn-outline-success p-3 ">Show more</button>
    </div>
    
</div>


<router-outlet></router-outlet>