<br><div class="container col-sm">
    <div class="row">      
    <!-- comment cover -->
    <div class="movie-cover col-sm-2">
        <img src="https://picsum.photos/seed/picsum/200/300" class="cover" alt="">
      </div>
      <!-- comment details -->
      <div class="movie-details col-sm-2">
        <input type="text" class="search-input" placeholder="Enter comment here...">
        <br>
      </div>
    </div>
    <!-- row 2 -->
    <div class="row">      
        <!-- comment cover -->
        <div class="movie-cover col-sm-2">
            <img src="https://picsum.photos/seed/picsum/200/300" class="cover" alt="">
          </div>
          
          <!-- comment details -->
          <div class="movie-details col-sm-2">
            <label for="username">{{username}}</label>
            <br>
            <label for="username">{{comment}}</label>
            <br>
          </div>
        </div>
        <!-- row 3 -->
    <div class="row flex-row-reverse">      
        <!-- comment cover -->
        <div class="movie-cover col-sm-2">
            <img src="https://picsum.photos/seed/picsum/200/300" class="cover" alt="">
          </div>
          
          <!-- comment details -->
          <div class="movie-details col-sm-2">
            <label for="username">{{username}}</label>
            <br>
            <label for="username">{{comment}}</label>
            <br>
          </div>
        </div>
        <div class="btn-comment text-center mr-5">
          <button class="btn btn-primary mr-5">Show More/Less Comments</button>
        </div>
        
</div>