<<<<<<< HEAD
* {
box-sizing: border-box;
// margin: 0px;
padding: 0px;
align-items: baseline;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 6a9e04b09ec7de7952b78fa9c576fa2ebbb3b5f9
}