
<div class="container col-sm">
    <div class="row">
        <div class="btn float right">
            <button type="button" class="btn btn-primary mb-1" >Show More</button>
        </div>        
    <!-- Movie cover -->
    <div class="movie-cover col-sm-2">
        <img src="https://picsum.photos/seed/picsum/200/300" class="cover" alt="">
      </div>
      <!-- Movie details -->
      <div class="movie-details col-sm-2">
        <span ><p class="details">Actor: {{actor_name}}</p></span>
        <span ><p class="run-time">Character: {{character_name}}</p></span>
        <br>
      </div>
    </div>
</div>
